<h1>This listing by <%=@seller.name%></h1>
<h3><%= @listing.title %></h3>
<p><%= @listing.acres %></p>
<h3> </h3>
<p> </p>
<p> </p>
<p>Seller's Contact info:</p>
<p><%=@seller.email%></p>
</br>

<a href="mailto:<%=@seller.email%>?subject=Terra%3AListing <%= @listing.title %>&amp;body=I%20would%20like%20more%20information%20about%20this%20listing%0Ahttp://localhost:3000/listings/<%=@listing.id%>">Email this seller </a>
</br>

</br>
<%= image_tag @listing.image.url(:medium) %>
</br>

<%= link_to "Back To All Listings", listings_path %>

