<h1>This listing by <%=@seller.name%></h1>
<h3><%= @listing.title %></h3>
<p><%= @listing.acres %></p>

<%= image_tag @listing.image.url(:medium) %>

<%= link_to "Back To All Listings", listing_path(@listing) %>

