<h1 class="col-lg-10">Listing Details:</h1>
<h3 class="col-lg-10">Title: <%= @listing.title %></h3>
<div class="col-lg-10"> <%= image_tag @listing.image.url(:medium) %> </div>
<p class="col-lg-10">Price: <%= @listing.price %></p>
<p class="col-lg-10">Acres: <%= @listing.acres %></p>
<p class="col-lg-10">Description: <%= @listing.description %></p>
<h3 class="col-lg-10">Land Coordinates:</h3>
<p class="col-lg-10">Latitude: <%= @listing.latitude %></p>
<p class="col-lg-10">Longitude: <%= @listing.longitude %></p>
<h3 class="col-lg-10">Seller's Contact info:</h3>
</br>


</br>
</br>

<p class="col-lg-10"> <%= link_to "Back to all listings", listings_path %> </p>
<p class="col-lg-10"><%= link_to "Send me back to the home page", root_path%></br><p/>
