<!-- Everything that we had in sellers erb, goes here and this is where our nested listings_formorm goes:

 -->
<h1>Create New Land Listing</h1>
<%= form_for @seller do |f| %>
	<% if @seller.errors.any? %>
  	<div id="error_explanation">
    	<h2><%= pluralize(@seller.errors.count,"error") %> prohibited this seller from being saved:</h2>
   </div>
	<% end %>
<fieldset>
  <ul>
    <% @seller.errors.full_messages.each do |error| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <div class="col-lg-10">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

   <div class="col-lg-10">
    <%= f.label :email %><br />
    <%= f.text_field :email%>
  </div>
	
	<%= f.fields_for :listings do |listings_form| %>     <!-- nested form starts here, fields_for, instead of form_for -->		
	<div class="col-lg-10">
    <%= listings_form.label :title %><br />
    <%= listings_form.text_field :title %>
  </div>
  <div class="col-lg-10">
    <%= listings_form.label :acres %><br />
    <%= listings_form.text_field :acres %>
  </div>
  <div class="col-lg-10">
    <%= listings_form.label :price %><br />
    <%= listings_form.text_field :price %>
  </div>
  <div class="col-lg-10">
    <%= listings_form.label :description %><br />
    <%= listings_form.text_area :description %>
  </div>

  <div class="col-lg-10">
    <%= listings_form.label :latitude %></br>
    <%= listings_form.text_field :latitude %></br>
  </div>

  <div class="col-lg-10">
    <%= listings_form.label :longitude %></br>
    <%= listings_form.text_field :longitude %></br>
  </div>
  
  <div class="col-lg-10">
    <%= listings_form.label :image %><br />
    <%= listings_form.file_field :image %>
  </div>

  <% end %> 
  </br>
  
  <div class="col-lg-10">
    <%= f.submit "Submit Listing", class: "btn btn-info" %>
  </div>
<% end %>

</br>
<p class="col-lg-10"> <%= link_to "Send me back to the home page", root_path%></br><p/>
<p class="col-lg-10"> <%= link_to "View all land listings on Terra", listings_path, class: "show_listings" %></br><p/>

</fieldset>










