<h2>These are all your listings</h2>
<%= @seller.name %>
<% @seller_listings.each do |listing|%>
	<p> Title: <%= listing.title %></br></p>
	<%= listing.description %></br>
	<%= listing.acres %></br>
	<%= listing.price %></br>
  <!-- add a link to be able to edit each listing -->
  <%= link_to "Edit this listing", edit_listing_path(listing, :seller_id => @seller.id) %>
<% end %>