<h2 class="col-lg-10">These are all your listings</h2>
<div class="col-lg-10"> <%= @user.name %> </div>
<% @user_listings.each do |listing|%>
	<ul class="col-lg-10">
	    <li><%= link_to listing.title,listing_path(listing) %> </li>
	    		<%= image_tag listing.image.url(:thumb) %>
			<p><%= link_to "Edit this listing", edit_listing_path(listing) %></br></p>
	</ul>
  <!-- add a link to be able to edit each listing -->
<% end %>

<p class="col-lg-10", "btn btn-primary"><%= link_to "Create Listing", new_listing_path, class: "new_seller"%></br></p>
<p class="col-lg-10"><%= link_to "Send me back to the home page", root_path%></br><p/>
