  <legend><h2>Log in</h2></legend>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="form-group">
  <label><%= f.label :email %></label>
   <div>
     <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
   </div>
</div>

<div class="form-group">
  <div class="field">
    <label><%= f.label :password %></label><br />
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %>
  </div>
</div>

<div class="form-group">
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
</div>

<div class="form-group">
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
</div>
  <% end %>

<div class="form-group">
  <%= render "devise/shared/links" %>
</div>
